<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Backbone Tut</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
    		<a class="brand" href="#">Some Shall Pass</a>
    		<ul class="nav">
    			<li class="active"><a href="#">Home</a></li>
    			<li><a href="#/list-feature">Features</a></li>
    			<li><a href="#/list-list">Lists</a></li>
    		</ul>
    	</div>
    </div>
	<div class="container">
		<div class="page"></div>
	</div>

	<script type="text/template" id="home-template">
		<h1>watch this space</h1>
	</script>

	<script type="text/template" id="list-template">
		<a href="#/new-<%= listType.toLowerCase() %>" class="btn btn-primary">New <%= listType.toLowerCase() %></a>
		<hr />
		<table class="table striped">
			<thead>
				<tr>
					<th><%= listType %>s</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(items, function(item) { %>
					<tr>
						<td><%= item.get('name') %></td>
						<td><a href="#/edit-<%= listType.toLowerCase() %>/<%= item.id %>" class="btn">Edit</a></td>
					</tr>					
				<% }) %>
			</tbody>
		</table>
	</script>

	<script type="text/template" id="edit-feature-template">
		<form class="edit-feature-form">
			<legend><%= feature ? 'Update' : 'Create' %> Feature</legend>
			<label>Feature Name</label>
			<input type="text" name="name" value="<%= feature ? feature.get('name') : '' %>"
                <% if(feature) { %> readonly="readonly" <% }; %>
                />
			<label>Constraint</label>
			<textarea type="text" name="constraint" id="json"><%= feature ? feature.get('constraint') : '' %></textarea>
      <!--<input type="hidden" name="constraint" id="json" value="<%= feature ? feature.get('constraint') : '' %>"/>-->
			<hr />
			<button type="submit" class="btn"><%= feature ? 'Update' : 'Create' %></button>
			<% if(feature) { %>
				<input type="hidden" name="id" value="<%= feature.id %>" />
				<button type="button" id="delete-feature" class="btn btn-danger">Delete</button> 
			<% }; %>
		</form>
    <!--<div id="editor" class="json-editor">blank</div>-->
	</script>

    <script type="text/template" id="edit-list-template">
        <form class="edit-list-form">
            <legend><%= list ? 'Update' : 'Create' %> List</legend>
            <label>List Name</label>
            <input type="text" name="name" value="<%= list ? list.get('name') : '' %>" 
                <% if(list) { %> readonly="readonly" <% }; %>/>
            <label>Members</label>
            <input type="text" name="members" value="<%= list ? list.get('members') : '' %>"/>
            <hr />
            <button type="submit" class="btn"><%= list ? 'Update' : 'Create' %></button>
            <% if(list) { %>
                <input type="hidden" name="id" value="<%= list.id %>" />
                <button type="button" id="delete-list" class="btn btn-danger">Delete</button> 
            <% }; %>
        </form>
    </script>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
	<script type="text/javascript">
		$.ajaxSetup({
		    headers: {
		        'Api-Key': "tommysapikey",
		        'Api-Secret': "tommysapisecret"
		    }
		});
		// $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
		// 	options.url = 'http://localhost:8888' + options.url;
		// });

		$.fn.serializeObject = function() {
			var o = {};
		  	var a = this.serializeArray();
		  	$.each(a, function() {
		      	if (o[this.name] !== undefined) {
		          	if (!o[this.name].push) {
		              	o[this.name] = [o[this.name]];
		          	}
		          	o[this.name].push(this.value || '');
		      	} else {
		          	o[this.name] = this.value || '';
		      	}
		  	});
		  	return o;
		};

		var Features = Backbone.Collection.extend({
			url: '/feature',
			parse: function(response) {
			    return response.data;
  			}

		});
		var Feature = Backbone.Model.extend({
			urlRoot: '/feature'
		});

		var Lists = Backbone.Collection.extend({
			url: '/list',
			parse: function(response) {
			    return response.data;
  			}

		});

        var List = Backbone.Model.extend({
            urlRoot: '/list'
        });

		var FeatureList = Backbone.View.extend({
			el: '.page',
			render: function() {
				var that = this;
				var features = new Features();
				features.fetch({
					success: function(features) {
                        _.each(features.models, function(item) {
                            console.log(item)
                        })
                        console.log(features.models)
						var template = _.template($('#list-template').html(), {items: features.models, listType: "Feature"})
						that.$el.html(template);
					}
				});
			}
		});

		var ListList = Backbone.View.extend({
			el: '.page',
			render: function() {
				var that = this;
				var lists = new Lists();
				lists.fetch({
					success: function(lists) {
						var template = _.template($('#list-template').html(), {items: lists.models, listType: "List"})
						that.$el.html(template);
					}
				});
			}
		});

		var Home = Backbone.View.extend({
			el: '.page',
			render: function() {
				var template = _.template($('#home-template').html(), {})
				this.$el.html(template);
			}
		});

		var EditFeature = Backbone.View.extend({
			el: '.page',
			render: function(options) {
				var that = this;
				if (options.id) {
					that.feature = new Feature({id: options.id});
					that.feature.fetch({
						success: function(feature) {
							var template = _.template($('#edit-feature-template').html(), {feature: feature})
							that.$el.html(template);
						}
					});
				} else {
					var template = _.template($('#edit-feature-template').html(), {feature: null})
					this.$el.html(template);
				}
			},
			events: {
				'submit .edit-feature-form': 'saveFeature',
				'click #delete-feature': 'deleteFeature'
			},
			saveFeature: function(ev) {
				var featureDetails = $(ev.currentTarget).serializeObject();
				var feature = new Feature();
		        // featureDetails.constraint = JSON.parse(featureDetails.constraint);
                featureDetails.constraint = featureDetails.constraint;
				feature.save(featureDetails, {
					success: function(feature) {
						router.navigate('#/list-feature', {trigger: true});
					}
				});
				return false;
			},
			deleteFeature: function(ev) {
				this.feature.destroy({
					success: function() {
						router.navigate('#/list-feature', {trigger: true});
					}
				});
				return false;
			}
		});

        var EditList = Backbone.View.extend({
            el: '.page',
            render: function(options) {
                var that = this;
                if (options.id) {
                    that.list = new List({id: options.id});
                    that.list.fetch({
                        success: function(list) {
                            var template = _.template($('#edit-list-template').html(), {list: list})
                            that.$el.html(template);
                        }
                    });
                } else {
                    var template = _.template($('#edit-list-template').html(), {list: null})
                    this.$el.html(template);
                }
            },
            events: {
                'submit .edit-list-form': 'saveList',
                'click #delete-list': 'deleteList'
            },
            saveList: function(ev) {
                var listDetails = $(ev.currentTarget).serializeObject();
                //alert(JSON.parse(listDetails));
                var list = new List();
                //listDetails.members = JSON.parse(listDetails.members);
                listDetails.members = listDetails.members.split(",");
                list.save(listDetails, {
                    success: function(list) {
                        router.navigate('#/list-list', {trigger: true});
                    }
                });
                return false;
            },
            deleteList: function(ev) {
                this.list.destroy({
                    success: function() {
                        router.navigate('#/list-list', {trigger: true});
                    }
                });
                return false;
            }
        });

		var Router = Backbone.Router.extend({
			routes: {
				'' : 'home',
				'new-feature' : 'editFeature',
				'edit-feature/:id' : 'editFeature',
				'list-feature' : 'listFeature',
                'new-list' : 'editList',
                'edit-list/:id' : 'editList',
                'list-list' : 'listList'
			}
		});

		var featureList = new FeatureList();
		var editFeature = new EditFeature();
		var home = new Home();
		var listList = new ListList();
        var editList = new EditList();

		var router = new Router();
		router.on('route:home', function() {
			home.render();
		});
		router.on('route:editFeature', function(id) {
			editFeature.render({id: id});
		});
		router.on('route:listFeature', function() {
			featureList.render();
		});
		router.on('route:listList', function() {
			listList.render();
		});
        router.on('route:editList', function(id) {
            editList.render({id: id});
        })
		Backbone.history.start();
	</script>

</body>
</html>
